@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.top{
  background-color: #dd122a;
}

.links{
  background-color: black;
}

.logoName{
  background-color: white;
  color: Black;
}

.logoAndName{
  background-color: white;
}

.logoPic{
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}


/****home page css****/

.title{
  background-color: #dd122a;
  color: white;
  padding: 5px;
  border: 3px solid black;
  
}

.teamPhoto{
  border: 3px solid black;
}

.home{
  padding-bottom: 20px;
  padding-top: 30px;
}

.paragraph{
  padding-top: 30px;
  padding-bottom: 70px;
  font-size: 23px;
  color: black;  
}

.game{
  font-size: 22px;
  text-align: center;
  padding-top: 5px;
}

.matchList{
  text-align: center;
  padding: 10px;
}

.titleMatch{
  background-color: #dd122a;
  color: white;
  padding: 5px;
  border: 3px solid black;
  font-size: 25px;
}

.highlights{
  padding-top: 50px;
  padding-bottom: 30px;
}





