@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  width: 100%;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #dd122a;
  
}
.links{
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.cont{
  background-color: #dd122a;
}

.logo{
  background-color: white;
  
}

.navbar h1 {
  color: black;
  font-size: 30px;
  font-weight: bold;
  
}

.navbar a {
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: black;
  font-size: 20px;
  text-decoration: none;
}
.navbar a:hover {
  color: #dd122a;
  background-color: white;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;

}

/****home page css****/

.title{
  background-color: #dd122a;
  color: white;
  padding: 5px;
  border: 3px solid black;
  
}

.teamPhoto{
  border: 3px solid black;
}

.home{
  padding-bottom: 20px;
}

.paragraph{
  padding-top: 30px;
  padding-bottom: 70px;
  font-size: 23px;
  color: black;  
}

.game{
  font-size: 22px;
  text-align: center;
  padding-top: 5px;
}

.matchList{
  text-align: center;
  padding: 10px;
}

.titleMatch{
  background-color: #dd122a;
  color: white;
  padding: 5px;
  border: 3px solid black;
  font-size: 25px;
}

.highlights{
  padding-top: 50px;
}
